.container {
  position: relative;
  transition: 0.3s transform ease-in-out;
}

.container:hover {
  transform: scale(1.1);
}

.content {
  width: 300px;
  height: 200px;
  border-radius: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 1.5px 5px rgba(7, 7, 7, 0.233);
}

.text {
  font-size: 20px;
  margin-bottom: 10px;
}


.icon {
  position: absolute;
  right: -30px;
  top: -30px;
  z-index: -10;
  max-height: 64px;
}